In [1]:
import pandas as pd
import numpy as np
dict1 = {"A": [2,3,4,5,6],
        "B":[10,20,30,40,50]}
df = pd.DataFrame(dict1)
df

   A   B
0  2  10
1  3  20
2  4  30
3  5  40
4  6  50

In [5]:
arr2 = np.random.randint(10,100, size= (10,5))
# print(arr2) index = list('abcdefghij'

df = pd.DataFrame(arr2, columns = list('ABCDE'), index = list('abcdefghij'))
print(df)

    A   B   C   D   E
a  89  23  72  45  79
b  34  20  44  64  73
c  82  75  25  31  83
d  42  15  53  16  42
e  70  31  68  74  44
f  33  88  43  59  45
g  30  19  66  85  29
h  84  71  94  32  87
i  32  44  62  92  75
j  86  73  11  12  97

In [6]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [7]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     int32
 1   B       10 non-null     int32
 2   C       10 non-null     int32
 3   D       10 non-null     int32
 4   E       10 non-null     int32
dtypes: int32(5)
memory usage: 280.0+ bytes

In [10]:
df.shape

(10, 5)

In [12]:
df.columns.shape

(5,)

In [13]:
df.index.shape

(10,)

In [3]:
df=pd.read_csv(r'C:\Users\CHETAK\Downloads\first_telc.csv')
df

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
3,6,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
4,11,Male,0,No,No,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [15]:
df.iloc[0:2,0:5]

   Unnamed: 0  gender  SeniorCitizen Partner Dependents
0           0  Female              0     Yes         No
1           1    Male              0      No         No

In [20]:
df.loc[[10,20,45,67,70],'gender':'Dependents']

    gender  SeniorCitizen Partner Dependents
10    Male              0      No        Yes
20  Female              0      No         No
45    Male              0     Yes         No
67    Male              0      No         No
70  Female              0     Yes         No

In [21]:
df.loc[0:2,'gender':'Dependents']

   gender  SeniorCitizen Partner Dependents
0  Female              0     Yes         No
1    Male              0      No         No
2    Male              0      No         No

In [22]:
df.isna()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
71,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
72,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [23]:
df.isna().sum()

Unnamed: 0          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [25]:
df.isnull()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
71,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
72,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [30]:
df.isnull().sum() / len(df)

Unnamed: 0          0.0
gender              0.0
SeniorCitizen       0.0
Partner             0.0
Dependents          0.0
tenure              0.0
PhoneService        0.0
MultipleLines       0.0
InternetService     0.0
OnlineSecurity      0.0
OnlineBackup        0.0
DeviceProtection    0.0
TechSupport         0.0
StreamingTV         0.0
StreamingMovies     0.0
Contract            0.0
PaperlessBilling    0.0
PaymentMethod       0.0
MonthlyCharges      0.0
TotalCharges        0.0
dtype: float64

In [31]:
df['Dependents'].mode()[0]

'No'

In [33]:
df['Dependents']=df['Dependents'].fillna(df['Dependents'].mode()[0])

In [34]:
df['Dependents']

0      No
1      No
2      No
3     Yes
4      No
     ...
70     No
71     No
72    Yes
73    Yes
74     No
Name: Dependents, Length: 75, dtype: object

In [35]:
df.dropna()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
3,6,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
4,11,Male,0,No,No,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [37]:
df.dropna(thresh=6)   # 6 non NA Values  & 14 na

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
3,6,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
4,11,Male,0,No,No,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [38]:
df.dropna(axis=1)

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
3,6,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
4,11,Male,0,No,No,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [39]:
df.drop(['SeniorCitizen'],axis=1)

,Unnamed: 0,gender,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Female,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,1,Male,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3,Male,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
3,6,Male,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
4,11,Male,No,No,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [40]:
df.drop([0,1,2,3,4],inplace=True)

In [41]:
df

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5,5,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5
6,4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
7,2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
8,7,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9
9,8,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [44]:
df.drop(['Partner', 'Dependents' ,'tenure'],axis=1)

,Unnamed: 0,gender,SeniorCitizen,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5,5,Female,0,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5
6,4,Female,0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
7,2,Male,0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
8,7,Female,0,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9
9,8,Female,0,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [48]:
# 1. sort_index()
df.sort_index()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5,5,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5
6,4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
7,2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
8,7,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9
9,8,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [50]:
df.sort_index(axis=1)
# column

,Contract,Dependents,DeviceProtection,InternetService,MonthlyCharges,MultipleLines,OnlineBackup,OnlineSecurity,PaperlessBilling,Partner,PaymentMethod,PhoneService,SeniorCitizen,StreamingMovies,StreamingTV,TechSupport,TotalCharges,Unnamed: 0,gender,tenure
5,Month-to-month,No,Yes,Fiber optic,99.65,Yes,No,No,Yes,No,Electronic check,Yes,0,Yes,Yes,No,820.5,5,Female,8
6,Month-to-month,No,No,Fiber optic,70.70,No,No,No,Yes,No,Electronic check,Yes,0,No,No,No,151.65,4,Female,2
7,Month-to-month,No,No,DSL,53.85,No,Yes,Yes,Yes,No,Mailed check,Yes,0,No,No,No,108.15,2,Male,2
8,Month-to-month,No,No,DSL,29.75,No phone service,No,Yes,No,No,Mailed check,No,0,No,No,No,301.9,7,Female,10
9,Month-to-month,No,Yes,Fiber optic,104.80,Yes,No,No,Yes,Yes,Electronic check,Yes,0,Yes,Yes,Yes,3046.05,8,Female,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,One year,No,Yes,Fiber optic,93.50,No,Yes,Yes,Yes,Yes,Electronic check,Yes,0,No,Yes,No,4619.55,250,Female,51
71,Month-to-month,No,Yes,DSL,44.45,No phone service,No,No,Yes,No,Credit card (automatic),No,0,No,Yes,Yes,1183.8,435,Female,26
72,Two year,Yes,Yes,DSL,52.55,No phone service,No,Yes,Yes,Yes,Bank transfer (automatic),No,0,No,Yes,Yes,,488,Female,0
73,Month-to-month,Yes,No,Fiber optic,86.30,No,Yes,No,Yes,Yes,Mailed check,Yes,0,No,Yes,No,3266,546,Male,39
74,Month-to-month,No,Yes,DSL,39.65,No phone service,No,No,Yes,No,Electronic check,No,1,Yes,No,No,39.65,20,Male,1

In [51]:
df.sort_index(ascending= False)

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,8,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05
8,7,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9
7,2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
6,4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
5,5,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5

In [53]:
df.sort_index(axis=1,ascending= False)

,tenure,gender,Unnamed: 0,TotalCharges,TechSupport,StreamingTV,StreamingMovies,SeniorCitizen,PhoneService,PaymentMethod,Partner,PaperlessBilling,OnlineSecurity,OnlineBackup,MultipleLines,MonthlyCharges,InternetService,DeviceProtection,Dependents,Contract
5,8,Female,5,820.5,No,Yes,Yes,0,Yes,Electronic check,No,Yes,No,No,Yes,99.65,Fiber optic,Yes,No,Month-to-month
6,2,Female,4,151.65,No,No,No,0,Yes,Electronic check,No,Yes,No,No,No,70.70,Fiber optic,No,No,Month-to-month
7,2,Male,2,108.15,No,No,No,0,Yes,Mailed check,No,Yes,Yes,Yes,No,53.85,DSL,No,No,Month-to-month
8,10,Female,7,301.9,No,No,No,0,No,Mailed check,No,No,Yes,No,No phone service,29.75,DSL,No,No,Month-to-month
9,28,Female,8,3046.05,Yes,Yes,Yes,0,Yes,Electronic check,Yes,Yes,No,No,Yes,104.80,Fiber optic,Yes,No,Month-to-month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,51,Female,250,4619.55,No,Yes,No,0,Yes,Electronic check,Yes,Yes,Yes,Yes,No,93.50,Fiber optic,Yes,No,One year
71,26,Female,435,1183.8,Yes,Yes,No,0,No,Credit card (automatic),No,Yes,No,No,No phone service,44.45,DSL,Yes,No,Month-to-month
72,0,Female,488,,Yes,Yes,No,0,No,Bank transfer (automatic),Yes,Yes,Yes,No,No phone service,52.55,DSL,Yes,Yes,Two year
73,39,Male,546,3266,No,Yes,No,0,Yes,Mailed check,Yes,Yes,No,Yes,No,86.30,Fiber optic,No,Yes,Month-to-month
74,1,Male,20,39.65,No,No,Yes,1,No,Electronic check,No,Yes,No,No,No phone service,39.65,DSL,Yes,No,Month-to-month

# 2. sort_values()

In [54]:
df.sort_values('TotalCharges',inplace=True)

In [55]:
df

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
45,89,Male,0,Yes,No,29,No,No phone service,DSL,No,No,No,No,Yes,No,Month-to-month,No,Mailed check,33.75,1009.25
16,16,Female,0,No,No,52,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.65,1022.95
44,87,Female,0,Yes,Yes,48,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.65,1057
7,2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,5,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5
53,118,Female,0,No,No,41,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.65,835.15
35,64,Female,0,No,No,9,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Electronic check,94.40,857.25
49,107,Female,0,No,No,32,No,No phone service,DSL,Yes,No,No,No,No,No,One year,No,Mailed check,30.15,927.65
38,68,Female,0,Yes,Yes,50,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.15,930.9

In [56]:
df.sort_values('TotalCharges',inplace=True,ascending=False)

In [57]:
df

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
38,68,Female,0,Yes,Yes,50,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.15,930.9
49,107,Female,0,No,No,32,No,No phone service,DSL,Yes,No,No,No,No,No,One year,No,Mailed check,30.15,927.65
35,64,Female,0,No,No,9,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Electronic check,94.40,857.25
53,118,Female,0,No,No,41,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.65,835.15
5,5,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
44,87,Female,0,Yes,Yes,48,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.65,1057
16,16,Female,0,No,No,52,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.65,1022.95
45,89,Male,0,Yes,No,29,No,No phone service,DSL,No,No,No,No,Yes,No,Month-to-month,No,Mailed check,33.75,1009.25
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,

In [58]:
df.sort_values(['DeviceProtection','TechSupport' ,'StreamingTV'])

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
49,107,Female,0,No,No,32,No,No phone service,DSL,Yes,No,No,No,No,No,One year,No,Mailed check,30.15,927.65
11,10,Male,0,Yes,Yes,13,Yes,No,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Mailed check,49.95,587.45
10,9,Male,0,No,Yes,62,Yes,No,DSL,Yes,Yes,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95
25,36,Male,0,No,No,5,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,69.70,316.9
8,7,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,14,Male,0,No,No,25,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,105.50,2686.05
37,67,Female,0,No,No,31,Yes,No,DSL,No,Yes,Yes,Yes,Yes,Yes,Two year,No,Mailed check,79.20,2497.2
68,208,Female,0,No,No,19,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,106.60,1934.45
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,

In [4]:
df.reset_index()

,index,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,Female,0,Yes,No,1,No,No phone service,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,1,1,Male,0,No,No,34,Yes,No,DSL,...,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,2,3,Male,0,No,No,45,No,No phone service,DSL,...,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
3,3,6,Male,0,No,Yes,22,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
4,4,11,Male,0,No,No,16,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,71,435,Female,0,No,No,26,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,...,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,74,20,Male,1,No,No,1,No,No phone service,DSL,...,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [5]:
df.reset_index(drop=True)

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
3,6,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
4,11,Male,0,No,No,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,250,Female,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
71,435,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,546,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,20,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [6]:
df.set_index('gender')

,Unnamed: 0,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
gender,,,,,,,,,,,,,,,,,,,
Female,0,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
Male,1,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
Male,3,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
Male,6,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4
Male,11,0,No,No,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),18.95,326.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Female,250,0,Yes,No,51,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,No,One year,Yes,Electronic check,93.50,4619.55
Female,435,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
Female,488,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
Male,546,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
Male,20,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65

In [7]:
df = pd.DataFrame({'Principal Amount':[10000,15000,25000,30000,50000]})
df

   Principal Amount
0             10000
1             15000
2             25000
3             30000
4             50000

In [8]:
df['Rate of Interest'] = [7.5,7.1,10.25,12.7,9.5]
df

   Principal Amount  Rate of Interest
0             10000              7.50
1             15000              7.10
2             25000             10.25
3             30000             12.70
4             50000              9.50

In [9]:
df['Tenure'] = [2,3,4,5,6]
df

   Principal Amount  Rate of Interest  Tenure
0             10000              7.50       2
1             15000              7.10       3
2             25000             10.25       4
3             30000             12.70       5
4             50000              9.50       6

In [10]:
df['Compound Interest'] = df['Principal Amount'] * (1 + df['Rate of Interest']/100)**df['Tenure'] 
df

   Principal Amount  Rate of Interest  Tenure  Compound Interest
0             10000              7.50       2       11556.250000
1             15000              7.10       3       18427.213665
2             25000             10.25       4       36936.386095
3             30000             12.70       5       54543.227747
4             50000              9.50       6       86189.571066

In [11]:
df['Simple Interest'] = df['Principal Amount'] * df['Rate of Interest'] * df['Tenure'] /100
df

,Principal Amount,Rate of Interest,Tenure,Compound Interest,Simple Interest
0,10000,7.50,2,11556.250000,1500.0
1,15000,7.10,3,18427.213665,3195.0
2,25000,10.25,4,36936.386095,10250.0
3,30000,12.70,5,54543.227747,19050.0
4,50000,9.50,6,86189.571066,28500.0

In [12]:
df.rename({'Principal Amount':'P','Rate of Interest':'R', 
           'Tenure':'T', 'Compound Interest':'CI',
       'Simple Interest':'SI'},inplace=True,axis=1)

In [13]:
df

       P      R  T            CI       SI
0  10000   7.50  2  11556.250000   1500.0
1  15000   7.10  3  18427.213665   3195.0
2  25000  10.25  4  36936.386095  10250.0
3  30000  12.70  5  54543.227747  19050.0
4  50000   9.50  6  86189.571066  28500.0

In [14]:
df.columns = ['Pr_Am', 'Rate', 'Te', 'C_I', 'S_I']
df

   Pr_Am   Rate  Te           C_I      S_I
0  10000   7.50   2  11556.250000   1500.0
1  15000   7.10   3  18427.213665   3195.0
2  25000  10.25   4  36936.386095  10250.0
3  30000  12.70   5  54543.227747  19050.0
4  50000   9.50   6  86189.571066  28500.0

In [16]:
df.columns = list('abcde') 
df

       a      b  c             d        e
0  10000   7.50  2  11556.250000   1500.0
1  15000   7.10  3  18427.213665   3195.0
2  25000  10.25  4  36936.386095  10250.0
3  30000  12.70  5  54543.227747  19050.0
4  50000   9.50  6  86189.571066  28500.0

In [17]:
df.rename({0:'ONE'},axis=0,inplace=True)
df

         a      b  c             d        e
ONE  10000   7.50  2  11556.250000   1500.0
1    15000   7.10  3  18427.213665   3195.0
2    25000  10.25  4  36936.386095  10250.0
3    30000  12.70  5  54543.227747  19050.0
4    50000   9.50  6  86189.571066  28500.0

# Apply()

In [19]:
df.apply(np.square)

              a         b   c             d            e
ONE   100000000   56.2500   4  1.335469e+08    2250000.0
1     225000000   50.4100   9  3.395622e+08   10208025.0
2     625000000  105.0625  16  1.364297e+09  105062500.0
3     900000000  161.2900  25  2.974964e+09  362902500.0
4    2500000000   90.2500  36  7.428642e+09  812250000.0

In [20]:
df.apply(np.sqrt)

              a         b         c           d           e
ONE  100.000000  2.738613  1.414214  107.500000   38.729833
1    122.474487  2.664583  1.732051  135.746873   56.524331
2    158.113883  3.201562  2.000000  192.188413  101.242284
3    173.205081  3.563706  2.236068  233.544916  138.021737
4    223.606798  3.082207  2.449490  293.580604  168.819430

In [21]:
df.apply(lambda x : x + 100)

         a       b    c             d        e
ONE  10100  107.50  102  11656.250000   1600.0
1    15100  107.10  103  18527.213665   3295.0
2    25100  110.25  104  37036.386095  10350.0
3    30100  112.70  105  54643.227747  19150.0
4    50100  109.50  106  86289.571066  28600.0

In [22]:
def sq(a):
    return a**2

df.apply(sq)

              a         b   c             d            e
ONE   100000000   56.2500   4  1.335469e+08    2250000.0
1     225000000   50.4100   9  3.395622e+08   10208025.0
2     625000000  105.0625  16  1.364297e+09  105062500.0
3     900000000  161.2900  25  2.974964e+09  362902500.0
4    2500000000   90.2500  36  7.428642e+09  812250000.0

In [23]:
def sq(a):
    return "Rajput"

df.apply(sq)

a    Rajput
b    Rajput
c    Rajput
d    Rajput
e    Rajput
dtype: object

In [24]:
df = pd.DataFrame({"Country":["India",'Nepal',"Bangladesh"],
                  "Capitals":["New Delhi &%#@","*&$@! Kathamandu","Dhaka 876"]})
df

      Country          Capitals
0       India    New Delhi &%#@
1       Nepal  *&$@! Kathamandu
2  Bangladesh         Dhaka 876

In [25]:
import re

In [26]:
df['Capitals']

0      New Delhi &%#@
1    *&$@! Kathamandu
2           Dhaka 876
Name: Capitals, dtype: object

In [30]:
s=re.sub('\W','',df['Capitals'][0])
s

'NewDelhi'

In [33]:
s=re.sub('\W','',df['Capitals'][1])
s

'Kathamandu'

In [34]:
s=re.sub('\d','',df['Capitals'][2])
s

'Dhaka '

In [37]:
def clean(a):
    s1=re.sub('\W','',a)
    return s1

In [39]:
df['Capitals'].apply(clean)

0      NewDelhi
1    Kathamandu
2      Dhaka876
Name: Capitals, dtype: object

In [40]:
def clean_data(string):
    string = re.sub('[^A-Za-z]+',"",string)
    
    return string


df['Capitals'] = df['Capitals'].apply(clean_data)
df

      Country    Capitals
0       India    NewDelhi
1       Nepal  Kathamandu
2  Bangladesh       Dhaka

In [41]:
df['Date'] = ['31-03-2022','28-02-2021','10-01-2019']

In [42]:
df

      Country    Capitals        Date
0       India    NewDelhi  31-03-2022
1       Nepal  Kathamandu  28-02-2021
2  Bangladesh       Dhaka  10-01-2019

In [43]:
from datetime import datetime
def get_std_date(date):
    
    date = datetime.strptime(date,'%d-%m-%Y')
    return date

df['Std_Date'] = df['Date'].apply(get_std_date)
df

      Country    Capitals        Date   Std_Date
0       India    NewDelhi  31-03-2022 2022-03-31
1       Nepal  Kathamandu  28-02-2021 2021-02-28
2  Bangladesh       Dhaka  10-01-2019 2019-01-10

#  groupby

In [51]:
df=pd.read_csv(r"C:\Users\CHETAK\Downloads\data.csv")
df

,SONG,ARTIST,GENRE,ALBUM,ALBUM DATE,LENGTH,POPULARITY,DANCE,ENERGY,HAPPY,SPEECH,ACOUSTIC,INSTRUMENTAL,LIVE,LOUD,TEMP,KEY,CAMELOT,TIME SIGNATURE,ID
0,Kryptonite,3 Doors Down,Alternative Rock,The Better Life,2000,3:53,82,55,87,54,3,1,0,17,-6 db,99,B Minor,10A,4,6ZOBP3NvffbU4SZcrnt1k6
1,Flying,Anathema,Progressive Doom,Hindsight,2008,6:27,33,25,55,5,3,13,0,13,-8 db,145,C Minor,5A,3,4LknIoUqp497nUCdcd6nRs
2,One Last Goodbye,Anathema,Progressive Doom,Hindsight,2008,6:03,31,38,23,10,3,76,0,9,-8 db,100,B Minor,10A,3,1jUsNXxk8rz82nUYPnsGla
3,Velvet Goldmine,David Bowie,Glam Rock,Five Years,2015,3:10,42,62,63,89,3,64,0,16,-12 db,94,F Major,7B,4,6GCNEAIZVH4lKQD30lfQ6f
4,Lose Yourself,Eminem,Hip-Hop,8 Mile,2002,5:20,70,68,74,6,27,1,0,29,-5 db,171,D Major,10B,4,6GkTKjv1XbFVdI2D8vvDPu
5,Everlong,Foo Fighters,Grunge Rock,The Colour And The Shape,1997,4:10,83,41,88,36,4,0,0,8,-6 db,158,B Minor,10A,4,5UWwZ5lm5PKu6eKsHAGxOk
6,November Rain,Guns N' Roses,Glam Metal,Use Your Illusion I,1991,8:56,82,29,64,23,3,2,22,11,-9 db,80,B Major,1B,4,3YRCqOhFifThpSRFJ1VWFM
7,A Tale That Wasn't Right,Helloween,Melodic Metal,"Keeper of the Seven Keys, Pt. I",1987,4:43,57,32,55,20,3,29,0,26,-8 db,118,A Minor,8A,4,6Fd53Af2royyl5btFfgzlB
8,Take Me To Church,Hozier,Pop,Hozier,2014,4:01,86,57,66,44,5,63,0,12,-5 db,129,E Minor,9A,4,3dYD57lRAUcMHufyqn9GcI
9,Beyond the Realms of Death,Judas Priest,Birmingham Metal,Stained Class,1978,6:49,58,29,72,54,3,4,0,16,-6 db,172,B Minor,10A,4,3Rtv6zRNKpeSygXoaF9kCm
10,Nightcall,Kavinsky,Synthwave,OutRun,2013,4:17,64,51,86,43,6,1,1,42,-5 db,91,A Minor,8A,4,73bDvrmSBh2fr53tLDH9oA
11,I Was Made For Lovin' You,KISS,Glam Rock,Dynasty,1979,4:31,84,77,85,87,4,21,0,7,-6 db,128,E Major,12B,4,07q0QVgO56EorrSGHC48y3
12,Detroit Rock City,KISS,Classic Rock,Double Platinum,1978,3:35,28,55,90,45,7,4,0,29,-7 db,91,F Major,7B,4,2jz6rWGqVCYsymwxGoaON4
13,Sex on Fire,Kings of Leon,Modern Rock,Only By The Night,2008,3:23,84,54,91,37,5,0,1,14,-6 db,153,A Major,11B,4,0ntQJM78wzOLVeCUAW7Y45
14,Personal Jesus,Marilyn Manson,Alternative Metal,Personal Jesus,2004,4:06,62,57,94,28,12,0,1,52,-5 db,130,D Major,10B,4,6SyutgkQfLKfcsWvmh02k2
15,Sweet Dreams,Marilyn Manson,Alternative Metal,Smells Like Children,1995,4:53,1,39,64,13,3,1,56,30,-5 db,92,G#/A♭ Major,4B,4,1ENLIbxO4Uma773neTHxbp
16,She Will Be Loved,Maroon 5,Pop,Songs About Jane,2002,4:17,77,71,71,54,3,6,0,13,-6 db,102,C Minor,5A,4,7sapKrjDij2fpDVj0GxP66
17,Hangar 18,Megadeth,Old School Trash,Rust In Peace,1990,5:14,50,17,95,15,11,0,62,30,-11 db,160,G Major,9B,4,0KAaslGdPc5I6WxmKe3whe
18,Symphony Of Destruction,Megadeth,Melodic Trash,Countdown To Extinction,1992,4:06,76,61,89,51,6,0,9,7,-5 db,140,E Minor,9A,4,51TG9W3y9qyO8BY5RXKgnZ
19,Nothing Else Matters,Metallica,Metal,Metallica,1991,6:28,82,55,36,16,3,5,0,8,-11 db,142,E Minor,9A,3,0nLiqZ6A27jJri2VCalIUs
20,Master Of Puppets,Metallica,Old School Trash,Master Of Puppets,1986,8:35,78,54,84,56,4,0,43,15,-9 db,105,E Minor,9A,4,2MuWTIM3b0YEAskbeeFE1i
21,Fade To Black,Metallica,Old School Trash,Ride The Lightning,1984,6:57,70,26,92,28,11,0,23,11,-7 db,114,G Major,9B,4,5nekfiTN45vlxG0eNJQQye
22,Seek & Destroy,Metallica,Old School Trash,Kill 'Em All,1983,6:54,69,45,96,45,28,4,1,8,-5 db,141,A Major,11B,4,28WmNsclKsrVmdv3tDmoYU
23,Bir Derdim Var,Mor ve Ötesi,Turkish Alternative Rock,Dünya Yalan Söylüyor,2004,3:24,44,59,89,43,4,1,1,11,-2 db,119,B Minor,10A,4,5oecOcmSEHs7MZiB0NPbFu
24,Something In The Way,Nirvana,Alternative Rock,Nevermind,1991,3:52,81,43,20,7,3,75,26,11,-13 db,105,G#/A♭ Major,4B,4,1nFtiJxYdhtFfFtfXBv06s
25,Come As You Are,Nirvana,Alternative Rock,Nevermind,1991,3:38,39,50,82,54,4,0,0,9,-6 db,120,E Minor,9A,4,0MKGH8UMfCnq5w7nG06oM5
26,Crazy Train,Ozzy Osbourne,Birmingham Metal,Blizzard Of Ozz,2020,4:53,80,45,91,52,11,41,0,25,-4 db,138,A Major,11B,4,7ACxUo21jtTHzy7ZEV56vU
27,Perry Mason,Ozzy Osbourne,Birmingham Metal,Ozzmosis,1995,5:53,58,35,90,48,8,0,0,4,-6 db,135,A Major,11B,3,5yckiSASyeQLPgpBZkXIbu
28,20th Century Boy,Placebo,Permanent Wave,Covers,1003,3:40,41,49,97,50,7,1,0,13,-4 db,138,E Major,12B,4,2fEEWFSczDEkevfOr5VeTB
29,Dont' Stop Me Now,Queen,Glam Rock,Jazz,1978,3:29,85,56,87,61,17,5,0,78,-5 db,156,F Major,7B,4,5T8EDUDqKcs6OSOwEsfqG7
30,Bohemian Rhapsody,Queen,Glam Rock,Bohemian Rhapsody,2018,5:54,76,39,40,25,5,29,0,21,-10 db,144,C Minor,5A,4,3z8h0TU7ReDPLIbEnYhWZb
31,The Show Must Go On,Queen,Glam Rock,Bohemian Rhapsody,2018,4:31,66,43,68,7,4,43,0,11,-7 db,84,B Minor,10A,4,5WZDLZVCvY1rEyNir6k8Pg
32,Cum on Feel the Noize,Quiet Riot,Glam Metal,Metal Health,1983,4:50,74,41,92,37,12,1,0,8,-5 db,145,B Minor,10A,4,3vV3cr2TpPqFk07zxYUbla
33,Bitter Sweet,Roxy Music,Mellow Gold,Country Life,1974,4:50,30,51,43,13,4,26,15,9,-9 db,118,D Minor,7A,4,5CNyyQlUaE9xe16XctPHI1
34,Still Loving You,Scorpions,German Metal,Comeblack,2011,6:43,77,28,61,8,3,0,0,10,-5 db,104,F#/G♭ Minor,11A,4,0RdUX4WE0fO30VnlUbDVL6
35,Sevmemeliyiz,Sena Şener,Turkish Alt Pop,İnsan Gelir İnsan Geçer,2018,5:58,68,60,38,23,3,70,0,10,-7 db,134,F Minor,4A,3,7sNgPpXH3mDpC12yRUqEtz
36,Bir Çocuk Sevdim,Sezen Aksu,Turkish Pop,Sezen Aksu '88,1988,4:55,60,47,68,49,5,46,0,14,-6 db,144,D#/E♭ Minor,2A,4,7itO53A67K3FDQD3LHU0te
37,Kaybolan Yıllar,Sezen Aksu,Turkish Pop,Serçe,1978,3:07,66,30,66,60,3,3,0,19,-6 db,113,G Minor,6A,4,2EZbRSf8OVdFvtQY4QDv6O
38,Raindrops,Shamrain,Gothic Metal,Goodbye To All That,2007,4:30,53,47,61,19,3,0,2,16,-5 db,106,E Minor,9A,4,46bJS3Nvci8pt5fUqjMRIx
39,To Leave,Shamrain,Gothic Metal,Someplace Else,2005,4:27,52,36,69,35,3,0,22,20,-5 db,160,E Minor,9A,4,1qcxdQUQ4nljA7pHJBX3Yc
40,Anastasia,Slash,Hard Rock,Apocalyptic Love,2012,6:07,59,45,94,44,4,0,0,12,-5 db,100,C♯/D♭ Major,3B,4,3jaJeSphs7bS5Gt3i5LJL3
41,Seasons In The Abyss,Slayer,Old School Trash,Seasons In The Abyss,1990,6:37,60,26,97,17,16,0,0,9,-4 db,152,F Minor,4A,4,3Ky8IzV8IVSwijtaTWB2SK
42,Zombie,The Cranberries,Pop Rock,No Need To Argue,1994,5:06,84,31,65,31,4,2,1,37,-9 db,167,G Major,9B,4,7EZC6E7UjZe63f1jRmkWxt
43,T.V. Eye,The Stooges,Permanent Wave,Funhouse,1970,4:17,40,41,95,36,4,0,40,47,-14 db,133,D Major,10B,4,7mvN904TRvKl9CPQXFJ16t
44,Behind Blue Eyes,The Who,British Invasion,Who's Next,1971,3:41,73,39,62,34,3,21,0,9,-8 db,127,E Minor,9A,4,0cKk8BKEi7zXbdrYdyqBP5
45,Past Perfect,Thurisaz,Belgian Black Metal,Circadian Rhythm,2007,3:43,42,43,55,16,3,44,0,20,-9 db,180,F Minor,4A,3,6sqwApv3afyzPJHbX6dXjG
46,We're Not Gonna Take It,Twisted Sister,Glam Metal,Stay Hungry,1984,3:39,77,50,92,92,5,1,0,16,-6 db,149,E Major,12B,4,1hlveB9M6ijHZRbzZ2teyh
47,Umrumda Değil,UZI,Turkish Trap,Kan,2021,3:05,76,71,68,18,11,29,0,9,-6 db,105,F#/G♭ Minor,11A,4,72t3CRd8YEFrlc3x0OVaob
48,Wild Child,W.A.S.P.,Glam Metal,The Last Command,1985,5:12,64,37,86,39,5,6,0,19,-8 db,146,F Minor,4A,4,3iC3Numiy9P3AkF7iioKmx
49,Still of the Night,Whitesnake,Glam Metal,Whitesnake,1987,6:37,62,33,85,28,5,0,0,16,-8 db,100,E Minor,9A,4,7AtwQRLPdttsxcLM5tPL0t

In [55]:
df.groupby(df['SONG'])

In [57]:
df.groupby(df['SONG']).first()

,ARTIST,GENRE,ALBUM,ALBUM DATE,LENGTH,POPULARITY,DANCE,ENERGY,HAPPY,SPEECH,ACOUSTIC,INSTRUMENTAL,LIVE,LOUD,TEMP,KEY,CAMELOT,TIME SIGNATURE,ID
SONG,,,,,,,,,,,,,,,,,,,
Bir Çocuk Sevdim,Sezen Aksu,Turkish Pop,Sezen Aksu '88,1988,4:55,60,47,68,49,5,46,0,14,-6 db,144,D#/E♭ Minor,2A,4,7itO53A67K3FDQD3LHU0te
Kaybolan Yıllar,Sezen Aksu,Turkish Pop,Serçe,1978,3:07,66,30,66,60,3,3,0,19,-6 db,113,G Minor,6A,4,2EZbRSf8OVdFvtQY4QDv6O
Master Of Puppets,Metallica,Old School Trash,Master Of Puppets,1986,8:35,78,54,84,56,4,0,43,15,-9 db,105,E Minor,9A,4,2MuWTIM3b0YEAskbeeFE1i
Symphony Of Destruction,Megadeth,Melodic Trash,Countdown To Extinction,1992,4:06,76,61,89,51,6,0,9,7,-5 db,140,E Minor,9A,4,51TG9W3y9qyO8BY5RXKgnZ
20th Century Boy,Placebo,Permanent Wave,Covers,1003,3:40,41,49,97,50,7,1,0,13,-4 db,138,E Major,12B,4,2fEEWFSczDEkevfOr5VeTB
A Tale That Wasn't Right,Helloween,Melodic Metal,"Keeper of the Seven Keys, Pt. I",1987,4:43,57,32,55,20,3,29,0,26,-8 db,118,A Minor,8A,4,6Fd53Af2royyl5btFfgzlB
Anastasia,Slash,Hard Rock,Apocalyptic Love,2012,6:07,59,45,94,44,4,0,0,12,-5 db,100,C♯/D♭ Major,3B,4,3jaJeSphs7bS5Gt3i5LJL3
Behind Blue Eyes,The Who,British Invasion,Who's Next,1971,3:41,73,39,62,34,3,21,0,9,-8 db,127,E Minor,9A,4,0cKk8BKEi7zXbdrYdyqBP5
Beyond the Realms of Death,Judas Priest,Birmingham Metal,Stained Class,1978,6:49,58,29,72,54,3,4,0,16,-6 db,172,B Minor,10A,4,3Rtv6zRNKpeSygXoaF9kCm
Bir Derdim Var,Mor ve Ötesi,Turkish Alternative Rock,Dünya Yalan Söylüyor,2004,3:24,44,59,89,43,4,1,1,11,-2 db,119,B Minor,10A,4,5oecOcmSEHs7MZiB0NPbFu
Bitter Sweet,Roxy Music,Mellow Gold,Country Life,1974,4:50,30,51,43,13,4,26,15,9,-9 db,118,D Minor,7A,4,5CNyyQlUaE9xe16XctPHI1
Bohemian Rhapsody,Queen,Glam Rock,Bohemian Rhapsody,2018,5:54,76,39,40,25,5,29,0,21,-10 db,144,C Minor,5A,4,3z8h0TU7ReDPLIbEnYhWZb
Come As You Are,Nirvana,Alternative Rock,Nevermind,1991,3:38,39,50,82,54,4,0,0,9,-6 db,120,E Minor,9A,4,0MKGH8UMfCnq5w7nG06oM5
Crazy Train,Ozzy Osbourne,Birmingham Metal,Blizzard Of Ozz,2020,4:53,80,45,91,52,11,41,0,25,-4 db,138,A Major,11B,4,7ACxUo21jtTHzy7ZEV56vU
Cum on Feel the Noize,Quiet Riot,Glam Metal,Metal Health,1983,4:50,74,41,92,37,12,1,0,8,-5 db,145,B Minor,10A,4,3vV3cr2TpPqFk07zxYUbla
Detroit Rock City,KISS,Classic Rock,Double Platinum,1978,3:35,28,55,90,45,7,4,0,29,-7 db,91,F Major,7B,4,2jz6rWGqVCYsymwxGoaON4
Dont' Stop Me Now,Queen,Glam Rock,Jazz,1978,3:29,85,56,87,61,17,5,0,78,-5 db,156,F Major,7B,4,5T8EDUDqKcs6OSOwEsfqG7
Everlong,Foo Fighters,Grunge Rock,The Colour And The Shape,1997,4:10,83,41,88,36,4,0,0,8,-6 db,158,B Minor,10A,4,5UWwZ5lm5PKu6eKsHAGxOk
Fade To Black,Metallica,Old School Trash,Ride The Lightning,1984,6:57,70,26,92,28,11,0,23,11,-7 db,114,G Major,9B,4,5nekfiTN45vlxG0eNJQQye
Flying,Anathema,Progressive Doom,Hindsight,2008,6:27,33,25,55,5,3,13,0,13,-8 db,145,C Minor,5A,3,4LknIoUqp497nUCdcd6nRs
Hangar 18,Megadeth,Old School Trash,Rust In Peace,1990,5:14,50,17,95,15,11,0,62,30,-11 db,160,G Major,9B,4,0KAaslGdPc5I6WxmKe3whe
I Was Made For Lovin' You,KISS,Glam Rock,Dynasty,1979,4:31,84,77,85,87,4,21,0,7,-6 db,128,E Major,12B,4,07q0QVgO56EorrSGHC48y3
Kryptonite,3 Doors Down,Alternative Rock,The Better Life,2000,3:53,82,55,87,54,3,1,0,17,-6 db,99,B Minor,10A,4,6ZOBP3NvffbU4SZcrnt1k6
Lose Yourself,Eminem,Hip-Hop,8 Mile,2002,5:20,70,68,74,6,27,1,0,29,-5 db,171,D Major,10B,4,6GkTKjv1XbFVdI2D8vvDPu
Nightcall,Kavinsky,Synthwave,OutRun,2013,4:17,64,51,86,43,6,1,1,42,-5 db,91,A Minor,8A,4,73bDvrmSBh2fr53tLDH9oA
Nothing Else Matters,Metallica,Metal,Metallica,1991,6:28,82,55,36,16,3,5,0,8,-11 db,142,E Minor,9A,3,0nLiqZ6A27jJri2VCalIUs
November Rain,Guns N' Roses,Glam Metal,Use Your Illusion I,1991,8:56,82,29,64,23,3,2,22,11,-9 db,80,B Major,1B,4,3YRCqOhFifThpSRFJ1VWFM
One Last Goodbye,Anathema,Progressive Doom,Hindsight,2008,6:03,31,38,23,10,3,76,0,9,-8 db,100,B Minor,10A,3,1jUsNXxk8rz82nUYPnsGla
Past Perfect,Thurisaz,Belgian Black Metal,Circadian Rhythm,2007,3:43,42,43,55,16,3,44,0,20,-9 db,180,F Minor,4A,3,6sqwApv3afyzPJHbX6dXjG
Perry Mason,Ozzy Osbourne,Birmingham Metal,Ozzmosis,1995,5:53,58,35,90,48,8,0,0,4,-6 db,135,A Major,11B,3,5yckiSASyeQLPgpBZkXIbu
Personal Jesus,Marilyn Manson,Alternative Metal,Personal Jesus,2004,4:06,62,57,94,28,12,0,1,52,-5 db,130,D Major,10B,4,6SyutgkQfLKfcsWvmh02k2
Raindrops,Shamrain,Gothic Metal,Goodbye To All That,2007,4:30,53,47,61,19,3,0,2,16,-5 db,106,E Minor,9A,4,46bJS3Nvci8pt5fUqjMRIx
Seasons In The Abyss,Slayer,Old School Trash,Seasons In The Abyss,1990,6:37,60,26,97,17,16,0,0,9,-4 db,152,F Minor,4A,4,3Ky8IzV8IVSwijtaTWB2SK
Seek & Destroy,Metallica,Old School Trash,Kill 'Em All,1983,6:54,69,45,96,45,28,4,1,8,-5 db,141,A Major,11B,4,28WmNsclKsrVmdv3tDmoYU
Sevmemeliyiz,Sena Şener,Turkish Alt Pop,İnsan Gelir İnsan Geçer,2018,5:58,68,60,38,23,3,70,0,10,-7 db,134,F Minor,4A,3,7sNgPpXH3mDpC12yRUqEtz
Sex on Fire,Kings of Leon,Modern Rock,Only By The Night,2008,3:23,84,54,91,37,5,0,1,14,-6 db,153,A Major,11B,4,0ntQJM78wzOLVeCUAW7Y45
She Will Be Loved,Maroon 5,Pop,Songs About Jane,2002,4:17,77,71,71,54,3,6,0,13,-6 db,102,C Minor,5A,4,7sapKrjDij2fpDVj0GxP66
Something In The Way,Nirvana,Alternative Rock,Nevermind,1991,3:52,81,43,20,7,3,75,26,11,-13 db,105,G#/A♭ Major,4B,4,1nFtiJxYdhtFfFtfXBv06s
Still Loving You,Scorpions,German Metal,Comeblack,2011,6:43,77,28,61,8,3,0,0,10,-5 db,104,F#/G♭ Minor,11A,4,0RdUX4WE0fO30VnlUbDVL6
Still of the Night,Whitesnake,Glam Metal,Whitesnake,1987,6:37,62,33,85,28,5,0,0,16,-8 db,100,E Minor,9A,4,7AtwQRLPdttsxcLM5tPL0t
Sweet Dreams,Marilyn Manson,Alternative Metal,Smells Like Children,1995,4:53,1,39,64,13,3,1,56,30,-5 db,92,G#/A♭ Major,4B,4,1ENLIbxO4Uma773neTHxbp
T.V. Eye,The Stooges,Permanent Wave,Funhouse,1970,4:17,40,41,95,36,4,0,40,47,-14 db,133,D Major,10B,4,7mvN904TRvKl9CPQXFJ16t
Take Me To Church,Hozier,Pop,Hozier,2014,4:01,86,57,66,44,5,63,0,12,-5 db,129,E Minor,9A,4,3dYD57lRAUcMHufyqn9GcI
The Show Must Go On,Queen,Glam Rock,Bohemian Rhapsody,2018,4:31,66,43,68,7,4,43,0,11,-7 db,84,B Minor,10A,4,5WZDLZVCvY1rEyNir6k8Pg
To Leave,Shamrain,Gothic Metal,Someplace Else,2005,4:27,52,36,69,35,3,0,22,20,-5 db,160,E Minor,9A,4,1qcxdQUQ4nljA7pHJBX3Yc
Umrumda Değil,UZI,Turkish Trap,Kan,2021,3:05,76,71,68,18,11,29,0,9,-6 db,105,F#/G♭ Minor,11A,4,72t3CRd8YEFrlc3x0OVaob
Velvet Goldmine,David Bowie,Glam Rock,Five Years,2015,3:10,42,62,63,89,3,64,0,16,-12 db,94,F Major,7B,4,6GCNEAIZVH4lKQD30lfQ6f
We're Not Gonna Take It,Twisted Sister,Glam Metal,Stay Hungry,1984,3:39,77,50,92,92,5,1,0,16,-6 db,149,E Major,12B,4,1hlveB9M6ijHZRbzZ2teyh
Wild Child,W.A.S.P.,Glam Metal,The Last Command,1985,5:12,64,37,86,39,5,6,0,19,-8 db,146,F Minor,4A,4,3iC3Numiy9P3AkF7iioKmx
Zombie,The Cranberries,Pop Rock,No Need To Argue,1994,5:06,84,31,65,31,4,2,1,37,-9 db,167,G Major,9B,4,7EZC6E7UjZe63f1jRmkWxt

In [58]:
df.groupby('GENRE').first()

,SONG,ARTIST,ALBUM,ALBUM DATE,LENGTH,POPULARITY,DANCE,ENERGY,HAPPY,SPEECH,ACOUSTIC,INSTRUMENTAL,LIVE,LOUD,TEMP,KEY,CAMELOT,TIME SIGNATURE,ID
GENRE,,,,,,,,,,,,,,,,,,,
Alternative Metal,Personal Jesus,Marilyn Manson,Personal Jesus,2004,4:06,62,57,94,28,12,0,1,52,-5 db,130,D Major,10B,4,6SyutgkQfLKfcsWvmh02k2
Alternative Rock,Kryptonite,3 Doors Down,The Better Life,2000,3:53,82,55,87,54,3,1,0,17,-6 db,99,B Minor,10A,4,6ZOBP3NvffbU4SZcrnt1k6
Belgian Black Metal,Past Perfect,Thurisaz,Circadian Rhythm,2007,3:43,42,43,55,16,3,44,0,20,-9 db,180,F Minor,4A,3,6sqwApv3afyzPJHbX6dXjG
Birmingham Metal,Beyond the Realms of Death,Judas Priest,Stained Class,1978,6:49,58,29,72,54,3,4,0,16,-6 db,172,B Minor,10A,4,3Rtv6zRNKpeSygXoaF9kCm
British Invasion,Behind Blue Eyes,The Who,Who's Next,1971,3:41,73,39,62,34,3,21,0,9,-8 db,127,E Minor,9A,4,0cKk8BKEi7zXbdrYdyqBP5
Classic Rock,Detroit Rock City,KISS,Double Platinum,1978,3:35,28,55,90,45,7,4,0,29,-7 db,91,F Major,7B,4,2jz6rWGqVCYsymwxGoaON4
German Metal,Still Loving You,Scorpions,Comeblack,2011,6:43,77,28,61,8,3,0,0,10,-5 db,104,F#/G♭ Minor,11A,4,0RdUX4WE0fO30VnlUbDVL6
Glam Metal,November Rain,Guns N' Roses,Use Your Illusion I,1991,8:56,82,29,64,23,3,2,22,11,-9 db,80,B Major,1B,4,3YRCqOhFifThpSRFJ1VWFM
Glam Rock,Velvet Goldmine,David Bowie,Five Years,2015,3:10,42,62,63,89,3,64,0,16,-12 db,94,F Major,7B,4,6GCNEAIZVH4lKQD30lfQ6f
Gothic Metal,Raindrops,Shamrain,Goodbye To All That,2007,4:30,53,47,61,19,3,0,2,16,-5 db,106,E Minor,9A,4,46bJS3Nvci8pt5fUqjMRIx
Grunge Rock,Everlong,Foo Fighters,The Colour And The Shape,1997,4:10,83,41,88,36,4,0,0,8,-6 db,158,B Minor,10A,4,5UWwZ5lm5PKu6eKsHAGxOk
Hard Rock,Anastasia,Slash,Apocalyptic Love,2012,6:07,59,45,94,44,4,0,0,12,-5 db,100,C♯/D♭ Major,3B,4,3jaJeSphs7bS5Gt3i5LJL3
Hip-Hop,Lose Yourself,Eminem,8 Mile,2002,5:20,70,68,74,6,27,1,0,29,-5 db,171,D Major,10B,4,6GkTKjv1XbFVdI2D8vvDPu
Mellow Gold,Bitter Sweet,Roxy Music,Country Life,1974,4:50,30,51,43,13,4,26,15,9,-9 db,118,D Minor,7A,4,5CNyyQlUaE9xe16XctPHI1
Melodic Metal,A Tale That Wasn't Right,Helloween,"Keeper of the Seven Keys, Pt. I",1987,4:43,57,32,55,20,3,29,0,26,-8 db,118,A Minor,8A,4,6Fd53Af2royyl5btFfgzlB
Melodic Trash,Symphony Of Destruction,Megadeth,Countdown To Extinction,1992,4:06,76,61,89,51,6,0,9,7,-5 db,140,E Minor,9A,4,51TG9W3y9qyO8BY5RXKgnZ
Metal,Nothing Else Matters,Metallica,Metallica,1991,6:28,82,55,36,16,3,5,0,8,-11 db,142,E Minor,9A,3,0nLiqZ6A27jJri2VCalIUs
Modern Rock,Sex on Fire,Kings of Leon,Only By The Night,2008,3:23,84,54,91,37,5,0,1,14,-6 db,153,A Major,11B,4,0ntQJM78wzOLVeCUAW7Y45
Old School Trash,Hangar 18,Megadeth,Rust In Peace,1990,5:14,50,17,95,15,11,0,62,30,-11 db,160,G Major,9B,4,0KAaslGdPc5I6WxmKe3whe
Permanent Wave,20th Century Boy,Placebo,Covers,1003,3:40,41,49,97,50,7,1,0,13,-4 db,138,E Major,12B,4,2fEEWFSczDEkevfOr5VeTB
Pop,Take Me To Church,Hozier,Hozier,2014,4:01,86,57,66,44,5,63,0,12,-5 db,129,E Minor,9A,4,3dYD57lRAUcMHufyqn9GcI
Pop Rock,Zombie,The Cranberries,No Need To Argue,1994,5:06,84,31,65,31,4,2,1,37,-9 db,167,G Major,9B,4,7EZC6E7UjZe63f1jRmkWxt
Progressive Doom,Flying,Anathema,Hindsight,2008,6:27,33,25,55,5,3,13,0,13,-8 db,145,C Minor,5A,3,4LknIoUqp497nUCdcd6nRs
Synthwave,Nightcall,Kavinsky,OutRun,2013,4:17,64,51,86,43,6,1,1,42,-5 db,91,A Minor,8A,4,73bDvrmSBh2fr53tLDH9oA
Turkish Alt Pop,Sevmemeliyiz,Sena Şener,İnsan Gelir İnsan Geçer,2018,5:58,68,60,38,23,3,70,0,10,-7 db,134,F Minor,4A,3,7sNgPpXH3mDpC12yRUqEtz
Turkish Alternative Rock,Bir Derdim Var,Mor ve Ötesi,Dünya Yalan Söylüyor,2004,3:24,44,59,89,43,4,1,1,11,-2 db,119,B Minor,10A,4,5oecOcmSEHs7MZiB0NPbFu
Turkish Pop,Bir Çocuk Sevdim,Sezen Aksu,Sezen Aksu '88,1988,4:55,60,47,68,49,5,46,0,14,-6 db,144,D#/E♭ Minor,2A,4,7itO53A67K3FDQD3LHU0te
Turkish Trap,Umrumda Değil,UZI,Kan,2021,3:05,76,71,68,18,11,29,0,9,-6 db,105,F#/G♭ Minor,11A,4,72t3CRd8YEFrlc3x0OVaob

In [64]:
# df.groupby('genre').get_group('Horror')

In [69]:
# df.groupby('SONG','ARTIST')

In [70]:
# df.groupby(['content_rating','genre']).get_group(('PG-13','Action'))

In [71]:
# df.groupby(['content_rating','genre']).get_group(('PG-13','Action')).sort_values('duration')

In [72]:
# df.loc[:,['title','content_rating']]

In [73]:
# df.loc[df['genre'] == 'Action']

In [74]:
# df.loc[(df['genre'] == 'Crime') | (df['genre'] == 'Action')]

In [75]:
# df.loc[(df['genre'] == 'Crime') & (df['duration'] > 120)]

In [76]:
# df.loc[(df['genre'] == 'Crime') & (df['star_rating'] > 8.0)].sort_values('star_rating')

In [77]:
# df.loc[(df['genre'] == 'Crime') & (df['star_rating'] > 8.0)].sort_values('star_rating',ascending=False)

In [78]:
# df.loc[(df['genre'] == 'Crime') & (df['star_rating'] > 8.0) & (df['duration'] < 150 )].sort_values('star_rating',ascending=False)

In [79]:
# def get_clean_actor_list(string):
#     string = string.replace("u'","")
#     string = string.replace('u"',"")
#     string = string.replace("'","")
#     string = string.replace('"',"")
    
#     return string

# df['actors_list'].apply(get_clean_actor_list)

In [81]:
df.head()

,SONG,ARTIST,GENRE,ALBUM,ALBUM DATE,LENGTH,POPULARITY,DANCE,ENERGY,HAPPY,SPEECH,ACOUSTIC,INSTRUMENTAL,LIVE,LOUD,TEMP,KEY,CAMELOT,TIME SIGNATURE,ID
0,Kryptonite,3 Doors Down,Alternative Rock,The Better Life,2000,3:53,82,55,87,54,3,1,0,17,-6 db,99,B Minor,10A,4,6ZOBP3NvffbU4SZcrnt1k6
1,Flying,Anathema,Progressive Doom,Hindsight,2008,6:27,33,25,55,5,3,13,0,13,-8 db,145,C Minor,5A,3,4LknIoUqp497nUCdcd6nRs
2,One Last Goodbye,Anathema,Progressive Doom,Hindsight,2008,6:03,31,38,23,10,3,76,0,9,-8 db,100,B Minor,10A,3,1jUsNXxk8rz82nUYPnsGla
3,Velvet Goldmine,David Bowie,Glam Rock,Five Years,2015,3:10,42,62,63,89,3,64,0,16,-12 db,94,F Major,7B,4,6GCNEAIZVH4lKQD30lfQ6f
4,Lose Yourself,Eminem,Hip-Hop,8 Mile,2002,5:20,70,68,74,6,27,1,0,29,-5 db,171,D Major,10B,4,6GkTKjv1XbFVdI2D8vvDPu

In [85]:
df=pd.read_csv(r"C:\Users\CHETAK\Downloads\data.csv",index_col='ARTIST')
df.head()

,SONG,GENRE,ALBUM,ALBUM DATE,LENGTH,POPULARITY,DANCE,ENERGY,HAPPY,SPEECH,ACOUSTIC,INSTRUMENTAL,LIVE,LOUD,TEMP,KEY,CAMELOT,TIME SIGNATURE,ID
ARTIST,,,,,,,,,,,,,,,,,,,
3 Doors Down,Kryptonite,Alternative Rock,The Better Life,2000,3:53,82,55,87,54,3,1,0,17,-6 db,99,B Minor,10A,4,6ZOBP3NvffbU4SZcrnt1k6
Anathema,Flying,Progressive Doom,Hindsight,2008,6:27,33,25,55,5,3,13,0,13,-8 db,145,C Minor,5A,3,4LknIoUqp497nUCdcd6nRs
Anathema,One Last Goodbye,Progressive Doom,Hindsight,2008,6:03,31,38,23,10,3,76,0,9,-8 db,100,B Minor,10A,3,1jUsNXxk8rz82nUYPnsGla
David Bowie,Velvet Goldmine,Glam Rock,Five Years,2015,3:10,42,62,63,89,3,64,0,16,-12 db,94,F Major,7B,4,6GCNEAIZVH4lKQD30lfQ6f
Eminem,Lose Yourself,Hip-Hop,8 Mile,2002,5:20,70,68,74,6,27,1,0,29,-5 db,171,D Major,10B,4,6GkTKjv1XbFVdI2D8vvDPu

In [87]:
df=pd.read_csv(r"C:\Users\CHETAK\Downloads\data.csv",header=None,encoding='UTF-8')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,SONG,ARTIST,GENRE,ALBUM,ALBUM DATE,LENGTH,POPULARITY,DANCE,ENERGY,HAPPY,SPEECH,ACOUSTIC,INSTRUMENTAL,LIVE,LOUD,TEMP,KEY,CAMELOT,TIME SIGNATURE,ID
1,Kryptonite,3 Doors Down,Alternative Rock,The Better Life,2000,3:53,82,55,87,54,3,1,0,17,-6 db,99,B Minor,10A,4,6ZOBP3NvffbU4SZcrnt1k6
2,Flying,Anathema,Progressive Doom,Hindsight,2008,6:27,33,25,55,5,3,13,0,13,-8 db,145,C Minor,5A,3,4LknIoUqp497nUCdcd6nRs
3,One Last Goodbye,Anathema,Progressive Doom,Hindsight,2008,6:03,31,38,23,10,3,76,0,9,-8 db,100,B Minor,10A,3,1jUsNXxk8rz82nUYPnsGla
4,Velvet Goldmine,David Bowie,Glam Rock,Five Years,2015,3:10,42,62,63,89,3,64,0,16,-12 db,94,F Major,7B,4,6GCNEAIZVH4lKQD30lfQ6f

In [90]:
df = pd.read_csv(r'C:\Users\CHETAK\Downloads\data.csv',usecols=['SONG','ARTIST','ALBUM'])
df.head()

               SONG        ARTIST            ALBUM
0        Kryptonite  3 Doors Down  The Better Life
1            Flying      Anathema        Hindsight
2  One Last Goodbye      Anathema        Hindsight
3   Velvet Goldmine   David Bowie       Five Years
4     Lose Yourself        Eminem           8 Mile

In [91]:
# df = pd.read_excel('Emp_Records.xlsx',header=None)

In [92]:
# df1 = pd.read_json('data.json')

In [93]:
# df.to_json('data.json')

In [94]:
# df1.append(df2)
# df2.append(df1,ignore_index=True,sort=True)
# new_df = df1.append([df2,df3],ignore_index=True,sort=True)

In [95]:
# pd.concat([df1,df2..dfn],axis= 0, ignore_index=True, join = 'outer' or 'inner')

In [96]:
# pd.merge(left_df,right_df,how= 'inner')
# how = {'left', 'right', 'outer', 'inner', 'cross'}

In [97]:
# df1.join(df2,how='left')
# how = {'left', 'right', 'outer', 'inner'}

 Differ concat and merge

1. concat accept list of df & merge accept only 2 df.
2. index reset not done in concat & by default index reset is done in merge.
3. concat having join ['outer','inner'] arg & merge having how ={'left', 'right', 'outer', 'inner', 'cross'} arg
4. concat will join df based axes [row, columns] & merge will join df based on data or elements.
5. concat having axis as arg & merge having how = {}

In [1]:
import pandas as pd
import numpy as np

In [2]:
#  program to count the city-wise number of people from a given data
# set (city, name of the person)
# Sample data:
# City Number of peopless
# 0 California 4
# 1 Georgia 2
# 2 Los Angeles 4

In [6]:
df=pd.DataFrame({'index':[0,1,2],'city': ['California' ,'Georgia' ,'Los Angeles'],'no of people':[4,2,3] })
df

   index         city  no of people
0      0   California             4
1      1      Georgia             2
2      2  Los Angeles             3

In [11]:
df.groupby('city').get_group('California')

index  city        no of people
0      California  4               1
dtype: int64

In [13]:
#  program to get the longest runtime and shortest runtime
import time

In [15]:
s=time.time()
df=pd.DataFrame({'index':[0,1,2],'city': ['California' ,'Georgia' ,'Los Angeles'],'no of people':[4,2,3] })
df
e=time.time()
print(e-s)

0.001992940902709961

In [147]:
# Write a Pandas program to extract years between 1800 to 2200 from the specified
# column of a given DataFrame.
df = pd.DataFrame({
'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
'year': ['year 1800','year 1700','year 2300', 'year 1900', 'year 2200']
})
df

  company_code       year
0        c0001  year 1800
1        c0002  year 1700
2        c0003  year 2300
3        c0003  year 1900
4        c0004  year 2200

In [148]:
def extract(string):
 var=re.findall(r"18[\d]{2}|19[\d]{2}|20[\d]{2}|21[\d]{2}|22[\d]{2}",string)
 return var
df["new_year"]=df["year"].apply(extract)
df

  company_code       year new_year
0        c0001  year 1800   [1800]
1        c0002  year 1700       []
2        c0003  year 2300       []
3        c0003  year 1900   [1900]
4        c0004  year 2200   [2200]

In [155]:
def extract(string):
 var=re.findall(r"[1800]{1}[1900]{1}[2200]{1}",string)
 return var
df['new_year']=df["year"].apply(extract)
df

  company_code       year new_year
0        c0001  year 1800    [800]
1        c0002  year 1700       []
2        c0003  year 2300       []
3        c0003  year 1900    [190]
4        c0004  year 2200       []

In [59]:
df = pd.DataFrame({
'company_code': ['jain@','rud&ra','Rana', 'VIRu', 'jai###'],
'year': ['yea123ras','ASDF','yeRAJR', 'S*HOW', 'year JAI']
})
df

  company_code       year
0        jain@  yea123ras
1       rud&ra       ASDF
2         Rana     yeRAJR
3         VIRu      S*HOW
4       jai###   year JAI

In [66]:
def c(a):
    s=re.sub('\W','',a)
    return s

In [67]:
df['company_code'].apply(c)

0     jain
1    rudra
2     Rana
3     VIRu
4      jai
Name: company_code, dtype: object

In [74]:
def c(a):
    s=re.sub('\d','',a)
    return s

In [75]:
s2=df['year'].apply(c)

In [76]:
s3=s2.apply(c)

In [83]:
data2={"num":[1,2,3,4,5,6,7,8,9,10]}
df2=pd.DataFrame(data2,index=list("ABCDEFGHIJ"))
df2["sqr"]=df2["num"]**2
df2["cube"]=df2['num']**3
df2

   num  sqr  cube
A    1    1     1
B    2    4     8
C    3    9    27
D    4   16    64
E    5   25   125
F    6   36   216
G    7   49   343
H    8   64   512
I    9   81   729
J   10  100  1000

In [86]:
import pandas as pd
import numpy as np

df2["sum"]=[2,3,4,np.nan,5,8,9,12,34,np.nan]
df2

   num  sqr  cube   sum
A    1    1     1   2.0
B    2    4     8   3.0
C    3    9    27   4.0
D    4   16    64   NaN
E    5   25   125   5.0
F    6   36   216   8.0
G    7   49   343   9.0
H    8   64   512  12.0
I    9   81   729  34.0
J   10  100  1000   NaN

In [87]:
df2["num"].replace({4:np.nan,7:np.nan,10:np.nan},inplace=True)
df2["sqr"].replace({49:np.nan,16:np.nan,100:np.nan},inplace=True)
df2["cube"].replace({1:np.nan,4096:np.nan,64:np.nan},inplace=True)

In [88]:
df2

   num   sqr    cube   sum
A  1.0   1.0     NaN   2.0
B  2.0   4.0     8.0   3.0
C  3.0   9.0    27.0   4.0
D  NaN   NaN     NaN   NaN
E  5.0  25.0   125.0   5.0
F  6.0  36.0   216.0   8.0
G  NaN   NaN   343.0   9.0
H  8.0  64.0   512.0  12.0
I  9.0  81.0   729.0  34.0
J  NaN   NaN  1000.0   NaN

In [94]:
df2.dropna(thresh=3)
# atleast 3 non null values should be there if less than 3 then it will drop that row

   num   sqr   cube   sum
A  1.0   1.0    NaN   2.0
B  2.0   4.0    8.0   3.0
C  3.0   9.0   27.0   4.0
E  5.0  25.0  125.0   5.0
F  6.0  36.0  216.0   8.0
H  8.0  64.0  512.0  12.0
I  9.0  81.0  729.0  34.0

In [95]:
df2.dropna(thresh=4)
# here all null values will or row will be drop because max nan vallues is 4

   num   sqr   cube   sum
B  2.0   4.0    8.0   3.0
C  3.0   9.0   27.0   4.0
E  5.0  25.0  125.0   5.0
F  6.0  36.0  216.0   8.0
H  8.0  64.0  512.0  12.0
I  9.0  81.0  729.0  34.0

In [97]:
df2

   num   sqr    cube   sum
A  1.0   1.0     NaN   2.0
B  2.0   4.0     8.0   3.0
C  3.0   9.0    27.0   4.0
D  NaN   NaN     NaN   NaN
E  5.0  25.0   125.0   5.0
F  6.0  36.0   216.0   8.0
G  NaN   NaN   343.0   9.0
H  8.0  64.0   512.0  12.0
I  9.0  81.0   729.0  34.0
J  NaN   NaN  1000.0   NaN

In [96]:
# indexes of non zero 
index=df2.isnull().to_numpy().nonzero()
index

(array([0, 3, 3, 3, 3, 6, 6, 9, 9, 9], dtype=int64),
 array([2, 0, 1, 2, 3, 0, 1, 0, 1, 3], dtype=int64))

In [102]:
df2.isnull().to_numpy()

array([[False, False,  True, False],
       [False, False, False, False],
       [False, False, False, False],
       [ True,  True,  True,  True],
       [False, False, False, False],
       [False, False, False, False],
       [ True,  True, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [ True,  True, False,  True]])

In [108]:
df2[df2['num'].isnull()].index.tolist()

['D', 'G', 'J']

In [112]:
df2.groupby("sum").get_group(34.0)

   num   sqr   cube   sum
I  9.0  81.0  729.0  34.0

In [114]:
df2.loc[df2["num"]==8.0]

   num   sqr   cube   sum
H  8.0  64.0  512.0  12.0

In [119]:
# df2.insert(0,"n1",200)
# changing order of dataframe

In [120]:
df2

    n1  num   sqr    cube   sum
A  200  1.0   1.0     NaN   2.0
B  200  2.0   4.0     8.0   3.0
C  200  3.0   9.0    27.0   4.0
D  200  NaN   NaN     NaN   NaN
E  200  5.0  25.0   125.0   5.0
F  200  6.0  36.0   216.0   8.0
G  200  NaN   NaN   343.0   9.0
H  200  8.0  64.0   512.0  12.0
I  200  9.0  81.0   729.0  34.0
J  200  NaN   NaN  1000.0   NaN

In [121]:
df2.sort_index(axis=1)

     cube   n1  num   sqr   sum
A     NaN  200  1.0   1.0   2.0
B     8.0  200  2.0   4.0   3.0
C    27.0  200  3.0   9.0   4.0
D     NaN  200  NaN   NaN   NaN
E   125.0  200  5.0  25.0   5.0
F   216.0  200  6.0  36.0   8.0
G   343.0  200  NaN   NaN   9.0
H   512.0  200  8.0  64.0  12.0
I   729.0  200  9.0  81.0  34.0
J  1000.0  200  NaN   NaN   NaN

In [122]:
df2.reindex(["C","Z","X","A","B"],axis=1)

    C   Z   X   A   B
A NaN NaN NaN NaN NaN
B NaN NaN NaN NaN NaN
C NaN NaN NaN NaN NaN
D NaN NaN NaN NaN NaN
E NaN NaN NaN NaN NaN
F NaN NaN NaN NaN NaN
G NaN NaN NaN NaN NaN
H NaN NaN NaN NaN NaN
I NaN NaN NaN NaN NaN
J NaN NaN NaN NaN NaN

In [125]:
df2.loc['k']=[2,4,6,8,10]
df2
# insert row

    n1  num   sqr    cube   sum
A  200  1.0   1.0     NaN   2.0
B  200  2.0   4.0     8.0   3.0
C  200  3.0   9.0    27.0   4.0
D  200  NaN   NaN     NaN   NaN
E  200  5.0  25.0   125.0   5.0
F  200  6.0  36.0   216.0   8.0
G  200  NaN   NaN   343.0   9.0
H  200  8.0  64.0   512.0  12.0
I  200  9.0  81.0   729.0  34.0
J  200  NaN   NaN  1000.0   NaN
k    2  4.0   6.0     8.0  10.0

In [127]:
df2.iloc[3]=[2,4,6,8,10]
df2

    n1  num   sqr    cube   sum
A  200  1.0   1.0     NaN   2.0
B  200  2.0   4.0     8.0   3.0
C  200  3.0   9.0    27.0   4.0
D    2  4.0   6.0     8.0  10.0
E  200  5.0  25.0   125.0   5.0
F  200  6.0  36.0   216.0   8.0
G  200  NaN   NaN   343.0   9.0
H  200  8.0  64.0   512.0  12.0
I  200  9.0  81.0   729.0  34.0
J  200  NaN   NaN  1000.0   NaN
k    2  4.0   6.0     8.0  10.0

In [132]:
# df.drop(df.index[df["n1"]==2])
# delet row

In [137]:
df2['rana']=['jai','rana''jai','rana','jai','rana','jai','rana','jai','rana','jai','rana']
df2

    n1  num   sqr    cube   sum     rana
A  200  1.0   1.0     NaN   2.0      jai
B  200  2.0   4.0     8.0   3.0  ranajai
C  200  3.0   9.0    27.0   4.0     rana
D    2  4.0   6.0     8.0  10.0      jai
E  200  5.0  25.0   125.0   5.0     rana
F  200  6.0  36.0   216.0   8.0      jai
G  200  NaN   NaN   343.0   9.0     rana
H  200  8.0  64.0   512.0  12.0      jai
I  200  9.0  81.0   729.0  34.0     rana
J  200  NaN   NaN  1000.0   NaN      jai
k    2  4.0   6.0     8.0  10.0     rana

In [139]:
df2["raj"]=df2['rana'].apply(lambda x:x.title())
df2

    n1  num   sqr    cube   sum     rana      raj
A  200  1.0   1.0     NaN   2.0      jai      Jai
B  200  2.0   4.0     8.0   3.0  ranajai  Ranajai
C  200  3.0   9.0    27.0   4.0     rana     Rana
D    2  4.0   6.0     8.0  10.0      jai      Jai
E  200  5.0  25.0   125.0   5.0     rana     Rana
F  200  6.0  36.0   216.0   8.0      jai      Jai
G  200  NaN   NaN   343.0   9.0     rana     Rana
H  200  8.0  64.0   512.0  12.0      jai      Jai
I  200  9.0  81.0   729.0  34.0     rana     Rana
J  200  NaN   NaN  1000.0   NaN      jai      Jai
k    2  4.0   6.0     8.0  10.0     rana     Rana

In [142]:
df2["RAJPUT"]=df2["raj"].apply(lambda x:x.upper())
df2

    n1  num   sqr    cube   sum     rana      raj   RAJPUT
A  200  1.0   1.0     NaN   2.0      jai      Jai      JAI
B  200  2.0   4.0     8.0   3.0  ranajai  Ranajai  RANAJAI
C  200  3.0   9.0    27.0   4.0     rana     Rana     RANA
D    2  4.0   6.0     8.0  10.0      jai      Jai      JAI
E  200  5.0  25.0   125.0   5.0     rana     Rana     RANA
F  200  6.0  36.0   216.0   8.0      jai      Jai      JAI
G  200  NaN   NaN   343.0   9.0     rana     Rana     RANA
H  200  8.0  64.0   512.0  12.0      jai      Jai      JAI
I  200  9.0  81.0   729.0  34.0     rana     Rana     RANA
J  200  NaN   NaN  1000.0   NaN      jai      Jai      JAI
k    2  4.0   6.0     8.0  10.0     rana     Rana     RANA